@charset "utf-8";

/* 用%语法产生一个占位符，btn-default类不会出现在css文件中 */
%btn-default {
	width: 50px;
	height: 20px;
	line-height: 20px;
	color:#fff;
	font-size: 12px;
	text-align: center;
	border:1px solid #000;
	border-radius: 3px;	
}

.btn-primary {
	// 继承一个占位符
	@extend %btn-default;
	background: #0cc;
}

.btn-warning {
	@extend %btn-default;
	background: orange;
}