<?xml version="1.0" encoding="UTF-8"?>
<beans default-lazy-init="true"
	xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd 
           http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">

	<!-- 设置扫描组件的根包 -->
	<context:component-scan base-package="com.icss.oa"></context:component-scan>
	
	<!-- 数据源(c3p0连接池) -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">			
		<!--指定连接数据库的驱动 -->
		<property name="driverClass" value="oracle.jdbc.driver.OracleDriver" />
		<!--指定连接数据库的URL -->
		<property name="jdbcUrl" value="jdbc:oracle:thin:@localhost:1521:icss" />
		<!--指定连接数据库的用户名 -->
		<property name="user" value="icssoa" />
		<!--指定连接数据库的密码 -->
		<property name="password" value="icssoa" />
		<!--指定连接数据库连接池的最大连接数 -->
		<property name="maxPoolSize" value="5" />
		<!--指定连接数据库连接池的最小连接数 -->
		<property name="minPoolSize" value="5" />
		<!--指定连接数据库连接池的连接的最大空闲时间，按秒计 -->
		<property name="maxIdleTime" value="60" />		
	</bean>
	
	<!-- session工厂 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="configLocation" value="classpath:SqlMapConfig.xml"></property>
		<property name="dataSource" ref="dataSource" />
	</bean>	
	
	<!-- 事务管理器 -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<!-- 开启注解事务支持 ,需要@Transactional注解 -->
	<tx:annotation-driven transaction-manager="transactionManager" />
	
</beans>