@charset "utf-8";

/* 默认按钮样式 */
.btn-default {
	width: 50px;
	height: 20px;
	line-height: 20px;
	color:#fff;
	font-size: 12px;
	text-align: center;
	border:1px solid #000;
	border-radius: 3px;	
}

.btn-primary {
	// 继承一个类，生成一个群组选择器
	@extend .btn-default;
	background: #0cc;
}

.btn-warning {
	@extend .btn-default;
	background: orange;
}