<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>javaee</display-name>
  <welcome-file-list>
    <welcome-file>hello.html</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>chapter9.ServletContextListenerImpl</listener-class>
  </listener>
  <listener>
    <listener-class>chapter9.HttpSessionListenerImpl</listener-class>
  </listener>
  <filter>
    <filter-name>MyFilter1</filter-name>
    <filter-class>chapter9.MyFilter1</filter-class>
  </filter>
  <filter>
    <filter-name>MyFilter2</filter-name>
    <filter-class>chapter9.MyFilter2</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>MyFilter1</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>MyFilter2</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/404.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/error.jsp</location>
  </error-page>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <context-param>
    <param-name>username</param-name>
    <param-value>scott</param-value>
  </context-param>
  <context-param>
    <param-name>password</param-name>
    <param-value>tiger</param-value>
  </context-param>
  <servlet>
    <servlet-name>hello</servlet-name>
    <servlet-class>chapter2.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>hello</servlet-name>
    <url-pattern>/123/456.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LiftServlet</servlet-name>
    <servlet-class>chapter2.LiftServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LiftServlet</servlet-name>
    <url-pattern>/LiftServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>chapter3.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmpServlet</display-name>
    <servlet-name>EmpServlet</servlet-name>
    <servlet-class>chapter3.EmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpServlet</servlet-name>
    <url-pattern>/EmpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HeaderServlet</display-name>
    <servlet-name>HeaderServlet</servlet-name>
    <servlet-class>chapter3.HeaderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HeaderServlet</servlet-name>
    <url-pattern>/HeaderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OtherMethodServlet</display-name>
    <servlet-name>OtherMethodServlet</servlet-name>
    <servlet-class>chapter3.OtherMethodServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OtherMethodServlet</servlet-name>
    <url-pattern>/OtherMethodServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletA</display-name>
    <servlet-name>ServletA</servlet-name>
    <servlet-class>chapter3.ServletA</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletA</servlet-name>
    <url-pattern>/ServletA</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletB</display-name>
    <servlet-name>ServletB</servlet-name>
    <servlet-class>chapter3.ServletB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletB</servlet-name>
    <url-pattern>/ServletB</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestServletContext</display-name>
    <servlet-name>TestServletContext</servlet-name>
    <servlet-class>chapter4.TestServletContext</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServletContext</servlet-name>
    <url-pattern>/TestServletContext</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestServletContext2</display-name>
    <servlet-name>TestServletContext2</servlet-name>
    <servlet-class>chapter4.TestServletContext2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServletContext2</servlet-name>
    <url-pattern>/TestServletContext2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PdfServlet</display-name>
    <servlet-name>PdfServlet</servlet-name>
    <servlet-class>chapter4.PdfServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PdfServlet</servlet-name>
    <url-pattern>/PdfServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestServletConfig</display-name>
    <servlet-name>TestServletConfig</servlet-name>
    <servlet-class>chapter4.TestServletConfig</servlet-class>
    <init-param>
      <param-name>port</param-name>
      <param-value>7777</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServletConfig</servlet-name>
    <url-pattern>/TestServletConfig</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WriteCookie</display-name>
    <servlet-name>WriteCookie</servlet-name>
    <servlet-class>chapter5.WriteCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WriteCookie</servlet-name>
    <url-pattern>/WriteCookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReadCookie</display-name>
    <servlet-name>ReadCookie</servlet-name>
    <servlet-class>chapter5.ReadCookie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadCookie</servlet-name>
    <url-pattern>/ReadCookie</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Session1</display-name>
    <servlet-name>Session1</servlet-name>
    <servlet-class>chapter5.Session1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Session1</servlet-name>
    <url-pattern>/Session1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Session2</display-name>
    <servlet-name>Session2</servlet-name>
    <servlet-class>chapter5.Session2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Session2</servlet-name>
    <url-pattern>/Session2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Session3</display-name>
    <servlet-name>Session3</servlet-name>
    <servlet-class>chapter5.Session3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Session3</servlet-name>
    <url-pattern>/Session3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Session4</display-name>
    <servlet-name>Session4</servlet-name>
    <servlet-class>chapter5.Session4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Session4</servlet-name>
    <url-pattern>/Session4</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>upload.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
</web-app>